extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let imagesid = toShow._id
    - let images_name = toShow.images_name
    - let imagescost = toShow.cost
    - let imagerssize = toShow.size
    - let actionid = "/resource/images/" + imagesid
    script.
      let actionid = "#{actionid}"
      div
        div.row
          div.imagesAttr.mr-3 image ID is:
          div= imagesid
        div.row
          div.imagesAttr.mr-3 image Type is:
          div= images_name
        div.row
          div.imagesAttr.mr-3 image Size is:
          div= imagessize
        div.row
          div.imagesAttr.mr-3 image Cost is:
          div= imagescost
        button.btn.btn-danger.m-2(onclick="deleteOnid()") Delete
        button.btn.btn-secondary.m-2(onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the images collection
        window.location.href='/images'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE'
        })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Delete succeeded")
          window.location.href='/images'
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }