extends layout
block content
  h1= title
  
  div(class="container-fluid")
   div(class="row")
    - let results=[{images_name:"image1",size :"large",cost:1000},
    {images_name:"image2",size :"medium",cost:700},{images_name:"image3",size:"small",cost:800}]
      each value,index in results
       div(class="col-sm-2" onclick=`buy(${index})`)  #{value.images_name} Images , size  is #{value.size}, with cost of #{value.cost}
  script. 
    function buy(index)
    {
      alert(`You purchased Item ${index+1}`)
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   